/*contains all the resets, variables, mixins, and utility classes*/
$font-family: 'Noto Sans Hebrew';

/*colors*/
$background: #6d7077;
$gray: #6b7688;
$gray_hover : #000000;
$red : #d70226;
$white : #FFFFFF;

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}