/*there are the styles for the header, footer, the grid system, etc*/

@import './base';
@import './styles';

*{
    font-family: $font-family-english;
}
.app{
    background: rgb(237,241,247);
}

html{
    scroll-behavior: smooth;
}


.english{
    font-size: 1.7rem;


    @media screen and (max-width: 1201px) and (min-width: 450px){
        font-size: 1.5rem !important;
    }
    @media screen and (max-width:450px) {
        font-size: 1.2rem !important;
        
    }
}

.englishBig{
    font-size: 2.6rem !important;
    @media screen and (max-width: 900px) and (min-width: 450px){
        font-size: 1.6rem !important;
    }
    @media screen and (max-width:450px) {
        font-size: 1.5rem !important;
        
    }

}
.app_navbar{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(60, 60, 60, 0.08);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.18);
    position:fixed;
    z-index: 2;
}

.app_navbar_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{
        width:150px;
        height: auto;

        @media screen and (max-width:500px) {
            width:120px;
            height:auto;
        }
        @media screen and (min-width:2000px) {
            width:180px;
            height:auto;
        }
    }
}

%flex{
    @include flex;
}

.flex{
    @extend %flex;
}
.app_navbar_links{
    flex: 1;
    @media screen and (min-width:900px) {
        @include flex;
    }


   li{
    font-size: 1.2rem;

       padding: 2rem;
       cursor:pointer;
       flex-direction: column;

       div{
           width:5px;
           height:5px;
           background: transparent;
           border-radius: 50%;
           margin-bottom: 5px;  
           
          
       }

       a{
           color: $gray;
           text-decoration: none;
           flex-direction: column;
           font-weight: 600;
           transition: all 0.3s ease-in-out;

           &:hover{
               color: $gray_hover;
           }
        }
        &:hover{
            div{
                background: $gray_hover;
            }
        }
   }

   @media screen and (max-width: 900px) {
       display: none;
   }
}

.svg-basic {
    @include flex;
    width: 70%;
    height:70%;
}

.app_navbar_menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position:relative;
    right: 4em;
   @include flex;
    background-color: $red;

    svg{
        color: white;
       @include flex;
       width: 70%;
       height:70%;

    }

    div{
        position: fixed;
        top:0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width:70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background: url('../../src/assets/bgWhite.png');
        background-color: $white;
        background-size: cover;
        background-repeat: repeat;

        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;        

        svg{
            position: absolute;
            right: 5rem;
            top: 2rem;
            color: black;
            @include flex;
            width: 6%;
            height: 6%;
            margin: 0em 0.5rem;
        }

        ul{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            margin:0;
            width:100%;

            li{
                margin: 1rem;
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}

/*Header*/

#Home{

    .app__wrapper{
        padding:0;

        .copyright{
            display: none;
        }
    }
}

.app__header{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    width: 100%;
    height:100%;

    @media screen and (min-width:2000px) {
        width:100%;
        padding-top: 12rem;
    }
    @media screen and(max-width:1200px) and (min-width:900px){
        padding-top:12rem;
    }
    @media screen and (max-width:900px) and (min-width:450px){
        flex-direction: row;
    }
    @media screen and (max-width:450px){
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 0rem ;
    }
}

.img-me{
    width: 23rem;
    border-radius: 50%;

    @media screen and (max-width: 900px) and (min-width:450px){
        width: 20rem;
    }
    @media screen and (max-width: 600px) and (min-width:450px){
        width:14rem;
    }
    @media  screen and (max-width:450px) {
        width:11rem;
    }
}

.app__header__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height:100%;

    @media screen and (max-width:2000px) {
        margin-right: 0rem;
        
    }
}

.app-header-badge{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badge-cmp , .tag-cmp{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    width: auto;
    border-radius: 15px;
    padding: 0rem 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
   

    @media screen and (max-width: 450px) {
        padding:0.5rem 0.5rem;
    }
    >span{
        font-size: 3rem;

        @media screen and (max-width: 900px) and (min-width: 450px){
            font-size: 2rem;
        }
        @media screen and (max-width: 450px) {
            font-size: 1.5rem;
        }
    }
}

.badge-cmp{
    margin-left: 1rem;
}

.tag-cmp{
    height:5rem;
    margin-top: 1.5rem;
    @media screen and (max-width: 450px) {
        height: 2rem;
    }

    @media screen and (max-width: 900px) and (min-width:450px) {
        height: 4rem !important;
    }
}

/* circles on header*/
.circle-cmp > img{
    width: 70%;
    height: 70%;
}
.circle-cmp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0 , 0 , 0, 0.3);
    margin: 1rem;
}

.app__header-circles{
    margin-left: 5rem;
    > div:nth-child(1){
        width: 5rem;
        height: 5rem;
    }
    >div:nth-child(2){
        width: 8rem;
        height: 8rem;
    }
    >div:nth-child(3){
        width: 3.5rem;
        height: 3.5rem;
    }
    @media screen and (max-width:900px) {
        display: none;
    }
}

/*About me */
.AboutMe-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    h2{
        text-align: center;
    }

    h2{
        text-align: center;
        padding: 0 15rem 0;
        @media screen and (min-width: 900px) and (max-width:1200px){
            padding:0 8rem 0;
        }
        @media screen and (min-width:450px) and (max-width:900px){
            padding : 0 3.5rem 0;
        }
        @media screen and (max-width:450px) {
            padding: 0 1rem 0;
        }
    }
    h2 span{
        color: $red;
        font-size: 2.2rem;
        font-weight: 300;
    }
}


#line{
    margin: auto;
    width:4rem;
    height:0.01rem;
    
    border-top: 0.1rem solid $red;
}

button{
    width: 9rem;
    height: 4rem;
    font-size: 1.3rem;
    margin: 1rem;
    border-radius: 75px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
}

@mixin btnStyle1{
    background: white;
    color: $pink;
    border: 1px solid $pink;
}

@mixin btnStyle2 {
    background: $pink;
    color:white;

}

.email-btn{
   @include btnStyle2;
    a {
        text-decoration: none;
        color:white;
    }

    &:hover{
        cursor:pointer;
        @include btnStyle1;
        a{
            color: $pink;
        }
    }
}

.cv-btn{
    @include btnStyle1;

    &:hover{
        cursor: pointer;
        @include btnStyle2;
    }
}

/*Box context*/
.box-Image{
    width: 100%;
    @include flex;
    flex-wrap: wrap;

    >div{
        border-radius: 20px;
        position:relative;
        width: 12rem;
        height: 4.5rem;
        padding: 3rem 3.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 1rem 1rem;


        .colorful-div{    
            border-radius: 20px;
            opacity: 0.9;
            position: absolute;
            top:0rem;
            right:0rem;
            width:100%;
            height:100%;

            .card-info{
                display: flex;
                align-items: center;
            }
        }
        img{
            padding:1rem;
            width: 3rem;
            height:auto;
        }        
        h1{
            text-align: center;
        }
    }
}
.app__profile-items:nth-child(4) > div > div > img{
    filter: invert(1);
    -webkit-filter: invert(1);
}

/*App wrapper*/
.app__container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    @include flex;
}

.app__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;
  
    @media screen and (max-width: 450px) {
      padding: 4rem 1rem 2rem;
    }
  }

.copyright{
    width: 100%;
    padding: 2rem 0 0;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.app_social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-top : 38rem;
  
    div {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $light_gray;
      margin: 0.25rem 0;
      border: 1px solid $white;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      transition: all 0.3s ease-in-out;
  
      svg {
        width: 15px;
        height: 15px;
        color: $gray;
      }
  
      &:hover {
        background-color: $gray;
        border-color: $white;
        cursor: pointer;
  
        svg {
          color: $white;
        }
      }
  
      @media screen and (min-width: 2000px) {
        width: 70px;
        height: 70px;
  
        margin: 0.5rem 0;
  
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
}

.app__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    padding: 1rem;
  
    .app__navigation__dots {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #cbcbcb;
      margin: 0.5rem;
  
      transition: background-color 0.2s ease-in-out;
  
      &:hover {
        background-color: $gray;
      }
  
      @media screen and (min-width: 2000px) {
        width: 20px;
        height: 20px;
      }
    }
}

@media screen and (max-width: 500px) {
    .app__navigation,
    .app_social {
      display: none;
    }
  
    .copyright {
      padding: 2rem;
    }
  }

  .h1-title{
    margin-bottom: 0.5rem;
    text-align: center;
  }

  /*Work*/
.item-active{
    background-color: $light_gray !important;
}
  .App_Work_Filter{
      @include flex;

      >div{
          padding: 0.7rem 1.5rem;
          margin: 1rem;
          border-radius: 30px;
          background-color: $white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
            font-weight: 600;
          @media screen and (max-width:600px) {
            padding: 0.7rem 1.1rem;
          }

          &:hover{
            background-color: $gray;
            color:white;

          }
      }
  }

.app__work-item{
    background-color: $white;
    border-radius: 12px;
    transition: all 0.3s ease;
    margin:1rem;

    &:hover{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}

.app__work-portfolio{
    @include flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.app__work-img{
    position:relative;
    margin: 1rem;
    object-fit: cover;
    >img{
        border-radius: 10px;
        width: 230px;
        height: 200px;
    }
}


.app__work-hover{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 0;
    @include flex;
    div{
        margin:1rem;
        background-color: rgba(0,0,0,0.5);
        border-radius: 40px;
        width: 3rem;
        height: 3rem;
        transition: all 0.3s ease;
        
    }
    svg{
        color:white;
        width:50%;
        height:50%;
        cursor: pointer;
    }
}

.app__work-content{
    text-align: center;
}

.bold_text{
    font-size: 1.2rem;
    font-weight: 700;
}

.app__work-tag{
    @include flex;
    background-color: aliceblue;
    border-radius: 80px;
    width: 35%;
    height: 90%;
    margin: auto auto;
    >p{
        font-weight: 600;
    }
    
}

.tags-section{
    height: 2.5rem;
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}