/*there are the styles for the header, footer, the grid system, etc*/

@import './base';
@import './styles';

*{
    font-family: $font-family;
}
.app_navbar{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(60, 60, 60, 0.08);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.18);
    position:fixed;
    z-index: 2;
}

.app_navbar_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{
        width:150px;
        height: auto;

        @media screen and (max-width:500px) {
            width:120px;
            height:auto;
        }
        @media screen and (min-width:2000px) {
            width:180px;
            height:auto;
        }
    }
}

%flex{
    @include flex;
}

.flex{
    @extend %flex;
}
.app_navbar_links{
    flex: 1;
    @media screen and (min-width:900px) {
        @include flex;
    }


   li{
    font-size: 1.2rem;

       padding: 2rem;
       cursor:pointer;
       flex-direction: column;

       div{
           width:5px;
           height:5px;
           background: transparent;
           border-radius: 50%;
           margin-bottom: 5px;  
           
          
       }

       a{
           color: $gray;
           text-decoration: none;
           flex-direction: column;
           font-weight: 600;
           transition: all 0.3s ease-in-out;

           &:hover{
               color: $gray_hover;
           }
        }
        &:hover{
            div{
                background: $gray_hover;
            }
        }
   }

   @media screen and (max-width: 900px) {
       display: none;
   }
}

.svg-basic {
    @include flex;
    width: 70%;
    height:70%;
}

.app_navbar_menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position:relative;
    right: 3em;
   @include flex;
    background-color: $red;

    svg{
        color: white;
       @include flex;
       width: 70%;
       height:70%;

    }

    div{
        position: fixed;
        top:0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width:70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background: url('../../src/assets/bgWhite.png');
        background-color: $white;
        background-size: cover;
        background-repeat: repeat;

        box-shadow: 0 0 20px rgba(168,168,168,0.15);
        

        svg{
            position: absolute;
            right: 3.5rem;
            top: 3rem;
            color: black;
            @include flex;
            width: 6%;
            height: 6%;
            margin: 0em 0.5rem;
        }

        ul{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            margin:0;
            width:100%;

            li{
                margin: 1rem;
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}