/*contains all the resets, variables, mixins, and utility classes*/
/*colors*/
/*there are the styles for the header, footer, the grid system, etc*/
/*contains all the resets, variables, mixins, and utility classes*/
/*colors*/
/*styles for every component necessary for that project, including buttons, modals, etc.*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Noto Sans Hebrew";
}

.app_navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgba(60, 60, 60, 0.08);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app_navbar_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app_navbar_logo img {
  width: 150px;
  height: auto;
}
@media screen and (max-width: 500px) {
  .app_navbar_logo img {
    width: 120px;
    height: auto;
  }
}
@media screen and (min-width: 2000px) {
  .app_navbar_logo img {
    width: 180px;
    height: auto;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_navbar_links {
  flex: 1;
}
@media screen and (min-width: 900px) {
  .app_navbar_links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.app_navbar_links li {
  font-size: 1.2rem;
  padding: 2rem;
  cursor: pointer;
  flex-direction: column;
}
.app_navbar_links li div {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  margin-bottom: 5px;
}
.app_navbar_links li a {
  color: #6b7688;
  text-decoration: none;
  flex-direction: column;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.app_navbar_links li a:hover {
  color: #000000;
}
.app_navbar_links li:hover div {
  background: #000000;
}
@media screen and (max-width: 900px) {
  .app_navbar_links {
    display: none;
  }
}

.svg-basic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70%;
}

.app_navbar_menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  right: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d70226;
}
.app_navbar_menu svg {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70%;
}
.app_navbar_menu div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 1rem;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background: url("../../src/assets/bgWhite.png");
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: repeat;
  box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
}
.app_navbar_menu div svg {
  position: absolute;
  right: 3.5rem;
  top: 3rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  height: 6%;
  margin: 0em 0.5rem;
}
.app_navbar_menu div ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  width: 100%;
}
.app_navbar_menu div ul li {
  margin: 1rem;
}
@media screen and (min-width: 900px) {
  .app_navbar_menu div {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .app_navbar_menu {
    display: none;
  }
}

/*styles for every component necessary for that project, including buttons, modals, etc.*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=app.css.map */
